{{ header }}
		<div class="content">
			<div class="container product" data-id="{{ product_id }}">
				<div class="row-flex">
					{{ breadcrumbs_view }}
					<div class="col-1 content content-text">
						<h2>{{ heading_title }}</h2>
						{{ text_message }}
					</div>
					<div class="col-1 buttons _center">
						<a href="{{ continue }}" class="btn">{{ button_continue }}</a>
					</div>
				</div>
			</div>
		</div>
{{ footer }}