{{ header }}
		<div class="content search-page">
			<div class="container">
				<div class="row-flex">
					{{ view_breadcrumbs }}
					
					<div class="col-1-1">
						<h2>{{ heading_title }}</h2>
					</div>
					{{ products_list }}
				</div>
			</div>
		</div>
{{ footer }}